.home {
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 150px;
}

.home__body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.welcomeTo {
    font-size: 80px;
}

.home__body img {
    width: 150px;
    height: auto;
}

.logoAndName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoAndName > div {
    font-size: 140px;
    margin-left: 20px;
}