
body {
  --slack-color: #451246;
  --slack-color-light: #551b57;
  overflow: hidden;
}

.app__body {
  display: flex;
  height: 100vh;
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: var(--slack-color);
  display: flex;
  justify-content: center;
  align-items: center;
}